<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605949524959-f97s7gmat9dlngr5rv4ujsv9o1uhru5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605949524959-f97s7gmat9dlngr5rv4ujsv9o1uhru5s</string>
	<key>API_KEY</key>
	<string>AIzaSyClY1nlcH8vQYiY0Sgl_5cpzuOTGVodnk0</string>
	<key>GCM_SENDER_ID</key>
	<string>605949524959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.ibo.FirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>hocfirebasechat</string>
	<key>STORAGE_BUCKET</key>
	<string>hocfirebasechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605949524959:ios:e4534dde926713d50d626a</string>
	<key>DATABASE_URL</key>
	<string>https://hocfirebasechat.firebaseio.com</string>
</dict>
</plist>